DB_NAME=NAME OF DATABASE
DB_USER=USERNAME TO DATABASE
DB_PASSWORD=PASSWORD TO DATABASE
DB_HOST=HOST OF DATABASE
DB_PORT=PORT TO CONNECT TO DATABASE
DBT_PROJECT_PATH= PROJECT PATH
DBT_PROFILES_PATH= USER PROFILE PATH
DBT_PROJECT_DIR = AIRFLOW PROJECT DIRECTORY